<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Wipro Suite">
  <test name="LoginTest">
  <parameter name="properties" value="pixel2_10_emulator"></parameter>
  <parameter name="username" value="0450893315"></parameter>
  <parameter name="password" value="Telstra"></parameter>
  <parameter name="searchText" value="65 inch TV"></parameter>
  	<classes>
      <class name="tests.PurchaseTest"/>
    </classes>
  </test>
</suite> 
